spring.datasource.url=jdbc:postgresql://localhost:5432/gen_bed2b8c0a428
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=org.postgresql.Driver
spring.jpa.hibernate.ddl-auto=update
